<h1>Enter Song or Artist to Search</h1>

<%= form_tag '/search' do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <%= submit_tag "Search" %>
<% end %>

<div>
  <% if @search %>
    <ul>
      <% @search.each do |music| %>
        <li>
          <%= music["artist"]["name"] %> -
          <%= music['title'] %>
          <%= link_to "Preview", music['preview'] %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div><br>


<a href='/#/home'>Home</a>

